@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 0 100%; }
}

.scene {
  background: black;
  background-image: url(../images/stars.png);
  background-repeat: repeat;
  cursor: none;
  position: relative;
  overflow: hidden;
  animation: animatedBackground 40s linear infinite;
}

.ship {
  background: url(../images/ships/USP_Fang.gif); no-repeat;
  width: 18px;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bullet {
  position: absolute;
  background-color: rgba(255,0,0,0.5);
  background: url(../images/bullets/Heavy_Missile.gif) no-repeat;
}

.text {
  color: white;
  font-family: monospace;
  padding: 0.1em 0.3em;
}

.enemy {
  position: absolute;
  background-color: #7c7c7c;
  background: url(../images/ships/Gencore_Phoenix.gif) no-repeat;
  transform: rotate(180deg);
}
