.scene {
  background: black;
  background-image: url(../images/stars.png);
  background-repeat: repeat;
  cursor: none;
  position: relative;
  overflow: hidden;
}

.ship {
  background: url(../images/ships/USP_Fang.gif) no-repeat;
  width: 18px;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bullet {
  width: 6px;
  position: absolute;
  height: 20px;
  bottom: 0;
  left: 0;
  background-color: red;
}

.text {
  color: white;
}
