@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 0 100%; }
}

body {
  font-family: sans-serif;
}

.scene {
  background: black;
  background-image: url(../images/stars.png);
  background-repeat: repeat;
  position: relative;
  overflow: hidden;
  animation: animatedBackground 30s linear infinite;
  image-rendering: pixelated;
  transform: scale(2);
  transform-origin: top left;

  -webkit-transform: none;
  zoom: 2;
}

.gameover {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.gameover h1{
  margin-top: 60px;
}

.scene-gameover .gameover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  background: black;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
}

.ship {
  background: url(../images/ships/USP_Fang.gif); no-repeat;
  width: 18px;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bullet {
  position: absolute;
  background-color: rgba(255,0,0,0.5);
  background: url(../images/bullets/Heavy_Missile.gif) no-repeat;
}

.text {
  color: white;
  font-family: monospace;
  padding: 0.1em 0.3em;
}

.enemy {
  position: absolute;
  transform: rotate(180deg);
}
